@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");

body {
  text-align: center;
  background-color: #e7f7b0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e3b23b' fill-opacity='0.53' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 10px;
}

.text {
  font-family: "Oleo Script", cursive;
  font-size: 4rem;
  text-align: initial;
}

.text div span {
  text-decoration: underline red;
}

.container {
  margin-top: 10%;
}

svg {
  background: transparent;
}

svg text {
  font-family: "Oleo Script", cursive;

  font-size: 4rem;
  stroke-width: 3px;
  fill: transparent;
  stroke: #070707;
  letter-spacing: 2px;

  animation: effect 5s infinite alternate;
}

@keyframes effect {
  0% {
    stroke-dasharray: 0 30%;
    fill: orangered;
  }
  50% {
    fill: rgb(63, 185, 233);
    /* background: blue; */
    text-decoration: underline;
  }
  100% {
    stroke-dasharray: 10% 0;
    stroke-dashoffset: 20%;
    fill: rgb(34, 243, 7);
    text-decoration: none;
  }
}

h1 {
  transition-property: all;
  transition-duration: 5s;
  transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition-delay: 0s;
  /* transition-duration: ; */
}
